.about-padding-40 {
  padding-left: 40px !important;
}

// about 페이지에 갭
.gap-0 {
  gap: 0px 30px !important;
}

.border-bottom {
  padding: 32px;
  padding-bottom: 0;
  //background-color: rgba($color: #000000, $alpha: 0.05);
  margin-right: 30px;
  border-radius: 10px;
}

.project-desc {
  hr {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

// 모바일
@media screen and (max-width: 599px) {
  .about-padding-40 {
    padding-left: 0 !important;
  }
  .border-bottom {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
