html {
  background-color: #f5f5f5;
}

.App {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.contents {
  //flex
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  //style
  padding: 31px;
  margin-top: 40px;
  max-width: 1800px;
}

// 푸터
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
  height: 110px;
  font-size: 15px;
  color: #5a5a5a8a;
}

@media screen and (min-width: 600px) {
  .desktop-hidden {
    display: none;
  }
}

// 모바일
@media screen and (max-width: 599px) {
  .contents {
    //flex
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    //style
    padding: 15px;
    margin-top: 40px;
    max-width: 100%;
  }

  .mobile-hidden {
    display: none;
  }
}
