// 태그 디자인
.tag {
  margin-left: 5px;
  padding: 2px 12px 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  height: 28px;
  border-radius: 15px;
}
.tag_year {
  background-color: #dcdcdc;
  color: #a5a5a5;
}
.tag_brand {
  background-color: #035381;
  color: #e1c9ff;
}
